hr {
  border-top: 1px solid var(--post-border-color);
}

a {
  color: #0366d6;
}

button, input::file-selector-button {
	border-radius: 4px;
	border: 1px solid transparent;
	padding: 2px 8px;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.2s, background-color 0.2s;
	background-color: var(--box-header-background-color);
	border: 1px solid var(--post-border-color);
	color: var(--text-color);
	outline: none;
}

button:hover {
	border-color: var(--color-highlight);
	background-color: var(--box-background-color);
}

button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

input:not(:where([type="file"])) {
	background-color: var(--box-background-color);
	border: 1px solid #666;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  color: var(--text-color);
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  background-color: var(--page-background-color);
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: var(--page-background-color);
  color: var(--text-color);
  font: var(--text-font);
}

.container-margin {
  margin: 0px 75px;
}