@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@theme inline {
	--color-post-bg: var(--post-background-color);
	--color-text: var(--text-color);
	--color-highlight: var(--highlight-color);
	--color-box-header: var(--box-header-background-color)
}

@utility text {
	color: var(--text-color);
}