:root.theme-yotsuba {
	--text-color: #800000;
	--text-font: 10pt arial, helvetica, sans-serif;
	--page-background-color: #FFFFEE;
	--box-header-background-color: #ffccaa;
	--box-background-color: #ffffff;
	--post-background-color: #f0e0d6;
	--post-border-color: #d9bfb7;
	--nav-text-color: #000000;
	--nav-dropdown-bgcolor: #f0e0d6;
	--link-text-color: #0066cc;
	--link-visited-text-color: #0066cc;
	--link-hover-color: #ff0000;
	--subject-color: #cc1105;
	--quote-color: #789922;
	--logo-color: #000;
}

:root.theme-tomorrow {
	--text-color: #c5c8c6;
	--text-font: 10pt arial, helvetica, sans-serif;
	--page-background-color: #111111;
	--box-header-background-color: #38393b;
	--box-background-color: #222324;
	--post-background-color: #282a2e;
	--post-border-color: #3b3c3f;
	--nav-text-color: #81a2be;
	--nav-dropdown-bgcolor: #282a2e;
	--link-text-color: #81a2be;
	--link-visited-text-color: #9881be;
	--link-hover-color: #5f89ac;
	--subject-color: #b294bb;
	--quote-color: #b5bd68;
  }

:root.theme-eclipse {
	--text-color: #c5c8c6;
	--text-font: 10pt arial, helvetica, sans-serif;
	--page-background-color: #111111;
	--box-header-background-color: #313131;
	--box-background-color: #222222;
	--post-background-color: #222222;
	--post-border-color: #414141;
	--nav-text-color: #81a2be;
	--nav-dropdown-bgcolor: #282a2e;
	--link-text-color: #81a2be;
	--link-visited-text-color: #9881be;
	--link-hover-color: #5f89ac;
	--subject-color: #C24B4B;
	--quote-color: #b5bd68;
	--highlight-color: #C92626;
	--selected-color: #311313;
	--logo-color: #D8D8D8;
}

:root.theme-niniba {
	--text-color: #134E18;
	--text-font: 10pt arial, helvetica, sans-serif;
	--page-background-color: #FFFFEE;
	--box-header-background-color: #A6DC91;
	--box-background-color: #ffffff;
	--post-background-color: #d9f8cc;
	--post-border-color: #bddfaf;
	--nav-text-color: #000000;
	--nav-dropdown-bgcolor: #f0e0d6;
	--link-text-color: #0066cc;
	--link-visited-text-color: #0066cc;
	--link-hover-color: #ff0000;
	--subject-color: #9a3ab8;
	--quote-color: #789922;
	--logo-color: #000;
}