<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width,initial-scale=1'>

    <title>Hayden.Frontend</title>

    <link rel='icon' type='image/png' href='/favicon.ico'>
    <link rel='stylesheet' href='/build/bundle.css'>

    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css" />
    
    <script defer src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script defer src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script defer src='/build/bundle.js'></script>
    <script>
        var info = {
            endpoint: "/api"
        }
    </script>
</head>

<body>
</body>

</html>